* {
    font-size: 16px;
}

h2, h3 {
    margin-left:10px;
}

.btn-locale {
    margin-left: 10px;
    margin-top: 8px;
    width: 30px;
}

.btn-img {
    height: 30px;
    margin-right:10px;
}

.logo-img {
    height: 30px;
    margin-right:10px;
}

.btn-mill {
    border: 1px solid #34b3a0;
    background: #34b3a0;
}
.btn-mill:hover,
.btn-mill:focus,
.btn-mill:active {
    border: 1px solid #21786b;
    background: #21786b;
}
.btn-reversi {
    border: 1px solid #24a52d;
    background: #24a52d;
}

.btn-reversi:hover,
.btn-reversi:focus,
.btn-reversi:active {
    border: 1px solid #1a7320;
    background: #1a7320;
}
.btn-renju {
    border: 1px solid #c2951c;
    background: #c2951c;
}
.btn-renju:hover,
.btn-renju:focus,
.btn-renju:active {
    border: 1px solid #987518;
    background: #987518;
}
.btn-halma {
    border: 1px solid #1B0FFF;
    background: #1B0FFF;
}
.btn-halma:hover,
.btn-halma:focus,
.btn-halma:active {
    border: 1px solid #140b95;
    background: #140b95;
}
.btn-rsp {
    border: 1px solid #7614da;
    background: #7614da;
}
.btn-rsp:hover,
.btn-rsp:focus,
.btn-rsp:active {
    border: 1px solid #531099;
    background: #531099;
}

.btn-seabattle {
    border: 1px solid #c10000;
    background: #c10000;
}

.btn-seabattle:hover,
.btn-seabattle:focus,
.btn-seabattle:active {
    border: 1px solid #980000;
    background: #980000;

}
.rule-img {
    width: 150px;
}

.avatar-small {
    width:10em;
    height:auto;
    max-height: 30em;
}

#navbar a:hover{
    background: #d8d9d8;
}
.navbar-default .navbar-nav>.active>a {
    color: white;
    background: #e43143;
}
#navbar .active :hover {
    color: white;
    background: #d0384b;
}

