h2 a {
	color: #239fb3;
	font-size: 30px;
}

h2 {
	margin-top: 0px;
	font-size: 30px;
}

h3 {
	font-size: 20px;
}

hr {
	width: 90%;
	border-top: 1px solid #c6c6c6;
}

#field {
	width: 505px;
	margin: 30px auto;
}

#welcome{
	text-align: center;
}

#logo{
	display: inline-block;
}

#img-logo {
	height: 150px;
}

#welcome-text{
	margin-left: 10px;
	text-align: center;
	font-size: 30px;
	display: inline-block;
}

#field {
	margin:auto;
	width: 507px;
}

#tips {
	margin-bottom: 30px;
	width: 100%;
	padding: 5px 10px;
	font-size: 12px;
	font-weight: bold;
	color: #277f6b;
	border: 1px solid #34b3a0;
	background: #c6e8dd;
	display: inline-block;
}

#board {
	width: 366px;
	height: 366px;
	border: 1px solid #34b3a0;
	background-image: url(../../img/mill/board.png);
}

.position {
	width: 52px;
	height: 52px;
	float: left;
	display: inline-block;
}

.white,
.black {
	width: 26px;
	height: 26px;
	border-radius: 12px;
	margin: 12px;
	font-size: 13px;
	text-align: center;
}

.white {
	color: white;
}

.black {
	color: black;
}

#white,
#black,
#board {
	float: left;
	display: inline-block;
}

#white,
#black {
	width: 70px;
	height: 364px;
}

.whiteStone,
.blackStone {
	width: 25px;
	height: 5px;
	margin-left: 22px;
	margin-top: 15px;
	border-radius: 2px;
	border: 1px solid gray;
}

.whiteStone,
.white {
	background: #fefffd;
}

.blackStone,
.black {
	background: #5d5d5d;
}


